# Copy this file to .env and fill in the values, then run `docker compose up`.

# The version of signalblast to run, can be "latest"
DOCKER_TAG=latest

# The phone number of the bot, required
SIGNALBLAST_PHONE_NUMBER=

# The password for the admin
SIGNALBLAST_PASSWORD=

# The contact or group to send health check messages to
SIGNALBLAST_HEALTHCHECK_RECEIVER=

# The initial message that a user receives after subscribing
SIGNALBLAST_WELCOME_MESSAGE=

# URL for the help message
SIGNALBLAST_INSTRUCTIONS_URL=

# The expiration time for the chats in seconds, defaults to 4 weeks
SIGNALBLAST_EXPIRATION_TIME=

# The address of the signal-cli-rest-api service, defaults to localhost:8080
SIGNAL_SERVICE=

# The port that will be listening for health check requests, defaults to 15556
SIGNALBLAST_HEALTHCHECK_PORT=
